@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
#login, #login-form {
  display: flex;
  flex-direction: column;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100% "Hind Madurai", sans-serif;
  color: rgb(70, 70, 70);
}

h2,
h1,
h3,
h4 {
  font-weight: 700;
}

button {
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content-display {
  margin-top: 20px;
}

.content-list {
  padding: 20px;
  background-color: rgb(255, 253, 242);
  box-shadow: 0px 1px 4px rgb(142, 142, 142);
  border-radius: 10px;
}

.page-title {
  font-size: 1.3em;
  color: #f8fafb;
  margin: 20px 0px;
  padding: 10px;
  border-bottom: 4px solid white;
}

.error {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  color: red;
  margin: 10px 0;
}

.success {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  color: green;
  margin: 10px 0;
}

#nav {
  display: flex;
  padding: 10px 20px;
  justify-content: start;
  align-items: center;
  gap: 3%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgb(218, 217, 217);
}
#nav a {
  color: rgb(77, 77, 77);
  white-space: normal;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
#nav a:hover {
  text-align: left;
  border-bottom: 1px solid gray;
}
#nav a:last-child {
  margin-left: auto;
}

.log-details {
  display: flex;
  margin-left: auto;
  justify-content: end;
  gap: 3%;
  align-items: center;
}
.log-details button {
  color: rgb(251, 110, 110);
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid red;
}
.log-details button:hover {
  color: white;
  background-color: rgb(251, 110, 110);
}

.blog-form, .blog-show-when-visible {
  display: flex;
  flex-direction: column;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100% "Hind Madurai", sans-serif;
  color: rgb(70, 70, 70);
}

h2,
h1,
h3,
h4 {
  font-weight: 700;
}

button {
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content-display {
  margin-top: 20px;
}

.content-list {
  padding: 20px;
  background-color: rgb(255, 253, 242);
  box-shadow: 0px 1px 4px rgb(142, 142, 142);
  border-radius: 10px;
}

.page-title {
  font-size: 1.3em;
  color: #f8fafb;
  margin: 20px 0px;
  padding: 10px;
  border-bottom: 4px solid white;
}

.blog-form-container {
  padding: 10px;
  margin-bottom: 20px;
}

.blog-show-when-visible {
  background-color: rgb(238, 248, 249);
  padding: 10px;
  border: 1px solid rgb(30, 44, 236);
  border-radius: 10px;
  box-shadow: 0 2px 3px rgb(199, 199, 199);
}

.blog-form {
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.blog-form > button {
  align-self: center;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid green;
}

.blog-form > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.blog-form > div > input {
  padding: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.blog-form > div > span {
  padding: 5px;
}

#login-form {
  border: 1px solid black;
  background-color: #f8fafb;
  border-radius: 10px;
  padding: 20px;
  align-self: center;
  gap: 15px;
  box-shadow: 0 2px 4px rgb(120, 119, 119);
  justify-content: start;
}
#login-form div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
#login-form div input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
#login-form button {
  align-self: center;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid green;
  margin-top: 10px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100% "Hind Madurai", sans-serif;
  color: rgb(70, 70, 70);
}

h2,
h1,
h3,
h4 {
  font-weight: 700;
}

button {
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content-display {
  margin-top: 20px;
}

.content-list {
  padding: 20px;
  background-color: rgb(255, 253, 242);
  box-shadow: 0px 1px 4px rgb(142, 142, 142);
  border-radius: 10px;
}

.page-title {
  font-size: 1.3em;
  color: #f8fafb;
  margin: 20px 0px;
  padding: 10px;
  border-bottom: 4px solid white;
}

#root {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f8fafb;
  background-color: rgb(39, 38, 38);
  height: 100vh;
}
#root div {
  width: 100%;
}

#add-form-button {
  display: flex;
  justify-content: center;
}
#add-form-button button {
  color: rgb(30, 44, 236);
  border: 1px solid rgb(30, 44, 236);
  border-radius: 5px;
  padding: 5px 20px;
  transition: 0.3s;
  background-color: white;
}
#add-form-button button:hover {
  background-color: rgb(238, 248, 249);
  padding: 5px 30px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border: 1px solid black;
}

.blog-always-shown {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}

.blog-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
}

.like-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heart-button {
  padding: 5px 10px;
  border-color: blueviolet;
}

.remove-button {
  padding: 5px 10px;
  border-color: red;
  transition: all 0.2s;
}

.remove-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  border: 1px solid black;
}

/*# sourceMappingURL=App.css.map */
